<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Municipalities</key>
	<array>
		<dict>
            <key>Name</key>
			<string>Adjuntas</string>
            <key>Latitude</key>
			<string>18.1647222</string>
            <key>Longitude</key>
			<string>-66.7225</string>
		</dict>
        <dict>
            <key>Name</key>
			<string>Aguada</string>
            <key>Latitude</key>
			<string>18.3813889</string>
            <key>Longitude</key>
			<string>-67.1886111</string>
		</dict>
        <dict>
            <key>Name</key>
			<string>Aguadilla</string>
            <key>Latitude</key>
			<string>18.4294444</string>
            <key>Longitude</key>
			<string>-67.1544444</string>
		</dict>
        <dict>
            <key>Name</key>
			<string>Aguas Buenas</string>
            <key>Latitude</key>
			<string>18.2588889</string>
            <key>Longitude</key>
			<string>-66.1033333</string>
		</dict>
        <dict>
            <key>Name</key>
			<string>Aibonito</string>
            <key>Latitude</key>
			<string>18.1419444</string>
            <key>Longitude</key>
			<string>-66.2663889</string>
		</dict>
        <dict>
            <key>Name</key>
			<string>Añasco</string>
            <key>Latitude</key>
			<string>18.2847222</string>
            <key>Longitude</key>
			<string>-67.14</string>
		</dict>
        <dict>
            <key>Name</key>
			<string>Arecibo</string>
            <key>Latitude</key>
			<string>18.4744444</string>
            <key>Longitude</key>
			<string>-66.7161111</string>
		</dict>
        <dict>
            <key>Name</key>
			<string>Arroyo</string>
            <key>Latitude</key>
			<string>17.9677778</string>
            <key>Longitude</key>
			<string>-66.0616667</string>
		</dict>
        <dict>
            <key>Name</key>
			<string>Barceloneta</string>
            <key>Latitude</key>
			<string>18.4525</string>
            <key>Longitude</key>
			<string>-66.5388889</string>
		</dict>
        <dict>
            <key>Name</key>
			<string>Barranquitas</string>
            <key>Latitude</key>
			<string>18.1886111</string>
            <key>Longitude</key>
			<string>-66.3066667</string>
		</dict>
        <dict>
            <key>Name</key>
			<string>Adjuntas</string>
            <key>Latitude</key>
			<string>18.1647222</string>
            <key>Longitude</key>
			<string>-66.7225</string>
		</dict>
        <dict>
            <key>Name</key>
			<string>Adjuntas</string>
            <key>Latitude</key>
			<string>18.1647222</string>
            <key>Longitude</key>
			<string>-66.7225</string>
		</dict>
        <dict>
            <key>Name</key>
			<string>Adjuntas</string>
            <key>Latitude</key>
			<string>18.1647222</string>
            <key>Longitude</key>
			<string>-66.7225</string>
		</dict>
        <dict>
            <key>Name</key>
			<string>Adjuntas</string>
            <key>Latitude</key>
			<string>18.1647222</string>
            <key>Longitude</key>
			<string>-66.7225</string>
		</dict>
        <dict>
            <key>Name</key>
			<string>Adjuntas</string>
            <key>Latitude</key>
			<string>18.1647222</string>
            <key>Longitude</key>
			<string>-66.7225</string>
		</dict>
        <dict>
            <key>Name</key>
			<string>Adjuntas</string>
            <key>Latitude</key>
			<string>18.1647222</string>
            <key>Longitude</key>
			<string>-66.7225</string>
		</dict>
        <dict>
            <key>Name</key>
			<string>Adjuntas</string>
            <key>Latitude</key>
			<string>18.1647222</string>
            <key>Longitude</key>
			<string>-66.7225</string>
		</dict>
        <dict>
            <key>Name</key>
			<string>Adjuntas</string>
            <key>Latitude</key>
			<string>18.1647222</string>
            <key>Longitude</key>
			<string>-66.7225</string>
		</dict>
        <dict>
            <key>Name</key>
			<string>Adjuntas</string>
            <key>Latitude</key>
			<string>18.1647222</string>
            <key>Longitude</key>
			<string>-66.7225</string>
		</dict>
        <dict>
            <key>Name</key>
			<string>Adjuntas</string>
            <key>Latitude</key>
			<string>18.1647222</string>
            <key>Longitude</key>
			<string>-66.7225</string>
		</dict>
        <dict>
            <key>Name</key>
			<string>Adjuntas</string>
            <key>Latitude</key>
			<string>18.1647222</string>
            <key>Longitude</key>
			<string>-66.7225</string>
		</dict>
        <dict>
            <key>Name</key>
			<string>Adjuntas</string>
            <key>Latitude</key>
			<string>18.1647222</string>
            <key>Longitude</key>
			<string>-66.7225</string>
		</dict>
        <dict>
            <key>Name</key>
			<string>Adjuntas</string>
            <key>Latitude</key>
			<string>18.1647222</string>
            <key>Longitude</key>
			<string>-66.7225</string>
		</dict>
        <dict>
            <key>Name</key>
			<string>Adjuntas</string>
            <key>Latitude</key>
			<string>18.1647222</string>
            <key>Longitude</key>
			<string>-66.7225</string>
		</dict>		<dict>
            <key>Name</key>
			<string>Adjuntas</string>
            <key>Latitude</key>
			<string>18.1647222</string>
            <key>Longitude</key>
			<string>-66.7225</string>
		</dict>
        
        
	</array>
</dict>
</plist>
